#navigation {
    position: relative;
    top: 20px;
}

#navigation .prev, #navigation .next {
    cursor: pointer;
    height: 50px;
    width: 100%;
    max-width: 300px;
    margin-bottom: 10px;
}

#navigation .prev div, #navigation .next div {
    cursor: pointer;
    display: inline-block;
    margin: 0;
    padding: 0;
    position: relative;
}

#navigation .arrow {
    position: relative;
    transition: .3s;
}

#navigation .nav-content {
    max-width: 60%;
    transition: .3s;
    margin-left: 35%;
    margin-right: auto;
    width: 70%;
}

#navigation .nav-content p {
    position: relative;
    left: 15%;
}

#navigation .nav-content p {
    position: relative;
    top: 5px;
    margin: 0;
    padding: 0;
    color: var(--black);
    font-size: 0.7em;
}

#navigation .nav-content p:last-child {
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 0.5em;
}

#navigation .image {
    height: 50px;
}

#navigation .image img {
    max-height: 100%;
}

#navigation .prev:hover>a .arrow, #navigation .next:hover>a .arrow, #navigation .prev:hover>a .nav-content, #navigation .next:hover>a .nav-content {
    transform: translate(5px, 0);
}

@media screen and (max-width: 1000px) {
    #project .sidebar {
        display: inline-block;
    }
    #navigation .prev, #navigation .next {
        display: inline-block;
        margin-bottom: 10px;
    }

    #navigation {
        margin: 20px auto;
    }
}