/*================================
    PROJECTS
================================*/

#project {
    position: relative;
    top: 15vh;
    padding: 0 4%;
    margin: auto;
    max-width: 1920px !important;
}

/*================================
    SIDEBAR
================================*/

#project .sidebar {
    position: fixed;
    width: 35%;
    height: 100vh;
    top: calc(15vh + 5px);
    left: 4%;
    font-weight: 500;
}

#project .sidebar .details p {
    font-size: 1.2em;
}

#project .sidebar p {
    margin: 0;
    padding: 0;
}

/*================================
    MAIN CONTENT
================================*/

#project .content {
    margin-left: 30%;
    margin-right: 0;
    margin-bottom: 30px;
    width: 70%;
    max-width: 1000px;
}

#project .content .description {
    padding: 0 30px 50px;
}

#project .content .description p {
    font-size: 1.4em;
    font-weight: 300;
    line-height: 1.8em;
    margin: 0;
    padding: 0;
    padding: 0 10px 0;
}

#project .content .description p .spacer {
    padding-right: 40px;
}

/*================================
    IMAGES
================================*/

#project .images-container {
    padding: 0 30px 20px;
}

#project .images-container ul.images {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(1fr));
    grid-gap: 15px;
    list-style: none;
    margin: 0;
    padding: 0;
}

#project .images-container ul.images>li {
    position: relative;
    padding-top: 66%;
    margin-bottom: 20px;
}

#project .images-container ul.images>li img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#project .images-container button.fullscreen-toggle, button.fullscreen-exit-btn {
    display: none !important;
}

/*================================
    MEDIA QUERIES
================================*/

@media screen and (max-width: 1000px) {
    #project .sidebar .details p {
        font-size: 1em;
    }
    #project .sidebar {
        position: static;
        width: 100%;
        height: auto;
        top: calc(15vh + 5px);
        left: 0;
        padding: 0 20px;
        margin-bottom: 30px;
    }
    #project .content {
        margin-left: 0;
        margin-right: 0;
        width: 100%;
    }
    #project .content .description {
        padding: 0 10px 50px;
    }
    #project .content .description p {
        font-size: 1.2em;
    }
    #project .images {
        max-width: 1000px;
        padding: 0px !important;
    }
}

@media screen and (max-width: 750px) {
    #project .content .description p {
        font-size: 1em;
    }
}

@media screen and (max-height: 500px) {
    #project .sidebar {
        margin-top: calc(10vh + 5px);
    }

    #project .images-container {
        max-width: 60%;
        margin: auto;
    }
}