
/*========================================
  FONTS
=========================================*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

:root {
  --accent: #efefef;
  --darkaccent: #666;
  --white: #efefef;
  --black: #151515;
}

/*========================================
  GENERAL
========================================*/

* {
  outline: none;
}

html, body {
  background-color: var(--white);
  margin: 0;
  padding: 0;
  min-height: 100vh;
  min-width: 100vw;
  font-size: 18px;
  font-weight: 400;
  color: var(--black);
  font-family: 'Poppins', 'Roboto', -apple-system, 'Segoe UI', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-weight: bold;
  color: var(--black);
  font-family: 'Poppins', 'Roboto', -apple-system, 'Segoe UI', sans-serif;
}

ul {
  list-style: none;
  padding: 0;
}