#about {
    max-width: 1500px;
}

#about .text {
    text-align: center;
    font-size: 4.5vmin;
    font-weight: 500;
    line-height: 9vmin;
    max-width: 80%;
    overflow: hidden;
}

#about h1 {
    font-weight: 500;
    display: inline-block;
    border-left: 1px solid var(--darkaccent);
    padding-left: 10px;
    font-size: 0.7em;
    opacity: 0;
    color: var(--darkaccent);
}

#about .text p {
    opacity: 0;
}

/*=========================================
  ARROW
=========================================*/

#about .arrow {
    opacity: 0;
    position: relative;
    cursor: pointer;
    width: 130px;
    margin: auto;
}

#about .arrow span {
    display: block;
}

#about .arrow .arrow-text {
    font-size: 0.32em;
    line-height: normal;
    color: var(--darkaccent);
    opacity: 0;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    transition: .5s;
}

#about .arrow .arrow-icon {
    transform: scale(1.5);
    padding: 10px;
    margin: auto;
    transition: .2s;
    color: var(--darkaccent);
}

#about .arrow:hover>.arrow-icon {
    transform: scale(1.5) rotate(180deg);
}

#about .arrow:hover>.arrow-text {
    opacity: 1;
    transform: translate(-50%, -50%);
}

/*=========================================
  PROFILE
=========================================*/

#about #profile {
    background: rgba(0, 0, 0, .1);
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    position: absolute;
    z-index: 2;
    display: none;
}

#about #profile figure {
    /* top: 50%; */
}

#about #profile img {
    max-height: 40vh;
    max-width: auto;
    margin: auto;
    display: block;
    position: relative;
}

#about #profile figcaption {
    background-color: var(--black);
    color: var(--white);
    width: fit-content;
    padding: 2px 10px;
    margin: 2px 0;
}

/*=========================================
  EFFECTS
=========================================*/

.reveal-block {
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background: #ddd;
    animation: block-reveal 2s cubic-bezier(.19, 1, .22, 1) forwards;
    animation-delay: 0s;
    z-index: 9999;
}

@keyframes block-reveal {
    0% {
        left: 0;
        width: 0%;
    }
    50% {
        left: 0;
        width: 100%;
    }
    100% {
        left: 100%;
        width: 0%;
    }
}

/*=========================================
  MEDIA QUERIES
=========================================*/

@media screen and (min-width: 600px) {
    #about .text {
        font-size: 2.5vmax;
        word-spacing: 3px;
        line-height: 55px;
    }
}

@media screen and (min-width: 1000px) {
    #about .text {
        font-size: 3vmin;
        max-width: 75%;
    }
}

@media screen and (min-width: 1400px) {
    #about .text {
        word-spacing: 5px;
        line-height: 55px;
        max-width: 1000px;
        font-size: 3.5vmin;
    }
}

@media screen and (min-width: 2000px) {
    #about .text {
        max-width: 1500px;
        line-height: 90px;
        font-size: 50px;
    }
    #about #profile figcaption {
        font-size: 1.5em;
    }
}

@media screen and (max-height: 300px) {
    #about .text {
        margin-top: 10px;
        font-size: 2.5vmax;
    }
    #about .text p {
        line-height: 25px;
    }
    #about #profile figcaption {
        font-size: 0.5em !important;
    }
}

@media screen and (max-height: 600px) {
    #about .text {
        line-height: 35px;
    }
    #about #profile figcaption {
        font-size: 0.7em;
    }
}