/*====================================
    DESKTOP
====================================*/

#nav #desktop {
    z-index: 100;
    position: absolute;
    top: 0;
    left: 0;
    height: 0px;
    overflow: visible;
    width: 100%;
    display: none;
}

#nav #desktop li a {
    font-weight: 300;
    font-size: 18pt;
    text-decoration: none;
    transition: .5s;
    opacity: .9;
}

#nav #desktop .home, #nav #desktop .work, #nav #desktop .contact, #nav #desktop .about {
    position: fixed;
    padding: 40px 4%;
}

#nav #desktop .home {
    top: 0;
    left: 0;
}

#nav #desktop .work {
    top: 0;
    right: 0;
}

#nav #desktop .contact {
    bottom: 0;
    left: 0;
}

#nav #desktop .about {
    bottom: 0;
    right: 0;
}

/*====================================
    DESKTOP EFFECT
====================================*/

#nav nav a {
    position: relative;
    display: inline-block;
    outline: none;
    letter-spacing: 1px;
    font-weight: 400;
    font-size: 1.35em;
}

#nav nav a:hover, #nav nav a:focus {
    outline: none;
}

#nav .cl-effect a {
    overflow: hidden;
    height: 1.3em;
}

#nav .cl-effect a span {
    position: relative;
    display: inline-block;
    -webkit-transition: -webkit-transform 0.3s;
    -moz-transition: -moz-transform 0.3s;
    transition: transform 0.3s;
}

#nav .cl-effect a span::before {
    position: absolute;
    top: 100%;
    content: attr(data-hover);
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

#nav .dark .cl-effect a span::before {
    color: var(--white);
}

#nav .light .cl-effect a span::before {
    color: var(--black);
}

#nav .cl-effect a:hover span {
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    transform: translateY(-100%);
}

/*====================================
    DESKTOP LIGHT / DARK
====================================*/

#nav .dark #desktop .active {
    text-decoration-color: var(--white);
}

#nav .light #desktop .active {
    text-decoration-color: var(--black);
}

#nav #desktop .active span {
    text-decoration-line: line-through;
    text-decoration-thickness: 2px;
}

/*====================================
    MOBILE
====================================*/

#nav #mobile {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100vw;
}

#nav #mobile .topbar {
    position: relative;
    padding: 25px;
}

#nav #mobile .topbar a.dark {
    position: relative;
    color: var(--white);
    text-decoration: none;
}

#nav #mobile .topbar a.light {
    position: relative;
    color: var(--black);
    text-decoration: none;
}

#nav #mobile .topbar a:hover {
    text-decoration: line-through;
    text-shadow: none;
}

#nav #mobile .topbar .logo {
    letter-spacing: 1px;
}

#nav #mobile .menu-trigger {
    position: absolute;
    top: 20px;
    right: 25px;
    display: inline-block;
    padding: 20px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 50%;
    transition: 0.3s;
    z-index: 10;
    transform: rotate(0deg);
}

#nav #mobile .menu-trigger.active.dark {
    background-color: #333;
}

#nav #mobile .menu-trigger.active.light {
    background-color: var(--white)
}

#nav #mobile .menu-trigger.nav-close {
    transform: rotate(90deg);
}

#nav #mobile .menu-trigger.nav-close .bar2 {
    opacity: 0;
}

#nav #mobile .menu-bars {
    position: relative;
}

#nav #mobile .menu-bars.dark div {
    background-color: var(--white);
}

#nav #mobile .menu-bars.light div {
    background-color: var(--black);
}

#nav #mobile .menu-bars div {
    height: 20px;
    width: 2px;
    display: inline-block;
    position: absolute;
    margin-top: -10px;
    margin-left: -1px;
}

#nav #mobile .bar2 {
    transform: rotate(90deg);
}

/*====================================
    MOBILE SIDEBAR
====================================*/

#nav #mobile #sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    display: flex;
    z-index: 8;
}

#nav #mobile .nav-wrapper {
    position: fixed;
    top: 0;
    bottom: 0;
    margin: auto;
    display: flex;
    z-index: 9;
    width: 300px;
    max-width: 100vw;
    right: 0;
}

#nav #mobile .nav-layer {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    display: flex;
    height: 100%;
    width: 100%;
    background-color: #222;
    z-index: -1;
}

#nav #mobile .sidebarNav {
    position: relative;
    width: 300px;
    height: 100%;
    background-color: var(--black);
    padding-top: 17vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: -1px 0px 10px 1px rgba(0, 0, 0, 0.5);
    overflow: hidden;
}

/*====================================
    SIDEBAR LINKS
====================================*/

#nav #mobile .sidebarNav .tagline {
    position: absolute;
    top: 10vh;
    left: 10%;
    color: var(--white);
    font-weight: 200;
    letter-spacing: 1px;
}

#nav #mobile .sidebarNav .links-wrapper {
    margin-left: 10%;
}

#nav #mobile .sidebarNav .links-wrapper .nav-link {
    padding-bottom: 10px;
    display: flex;
    color: var(--white);
    width: 280px;
    font-weight: 800;
    font-size: 1.7em;
    position: relative;
    text-decoration: none;
}

#nav #mobile .sidebarNav .nav-link .underline {
    position: absolute !important;
    height: 20%;
    width: 100px;
    background-color: rgb(37, 37, 37);
    display: inline-block !important;
    top: 30px;
    left: 0;
    z-index: -1;
    transform: skew(-25deg, 0deg) !important;
    border-radius: 2.5px;
}

/*====================================
    SIDEBAR SOCIAL LINKS
====================================*/

#nav #mobile .sidebarNav .sidebar-bottom {
    position: absolute;
    bottom: 17vh !important;
    left: 8%;
}

#nav #mobile .extra-links .link-item .link-title {
    font-weight: 200;
    color: var(--white);
    text-transform: uppercase;
    font-size: 0.55rem;
    letter-spacing: 2px;
    margin-bottom: 4px;
    margin-left: 5px;
}

#nav #mobile .extra-links .link-item .social-media-links a {
    height: 30px;
    width: 30px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

#nav #mobile .extra-links .link-item a {
    color: var(--white);
    transition: .3s;
    padding: 0 3px 0 0;
}

#nav #mobile .extra-links .link-item a:hover {
    color: var(--darkaccent)
}

#nav .fab {
    display: inline-block;
    font-size: .8em;
}

/*====================================
    NAV SHARED
====================================*/

#nav .dark a {
    color: var(--white);
}

#nav .light a {
    color: var(--black);
}

/*====================================
    MEDIA QUERIES
====================================*/

@media screen and (min-width: 1000px) {
    #nav #desktop {
        display: block;
    }
    #nav #mobile {
        display: none;
    }
}

@media screen and (max-height: 500px) {
    .sidebarNav .links-wrapper .nav-link {
        font-size: 1em;
    }

    #nav #mobile .sidebarNav .links-wrapper .nav-link {
        font-size: 1.1em;
    }

    #nav #mobile .sidebarNav .links-wrapper {
        margin-top: 20px;
    }

    #nav #mobile .sidebarNav .nav-link .underline {
        top: 19px;
        width: 25%;
    }

    #nav .fab {
        font-size: .8em;
    }
}
